@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: "Gmarket Sans";
    src: url("../fonts/GmarketSansTTFMedium.ttf") format("truetype");
    font-weight: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

pre {
    white-space: pre-wrap;
    overflow: hidden;
    font-family: 'Noto Sans KR', sans-serif !important;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    background: url('../images/bg2.jpg') no-repeat;
}

input:focus::placeholder {
    color: transparent;
}

:where(h1, h2, h3):not(.css-exception) {
    text-align: center;
}

.css-cursor {
    cursor: pointer;
    user-select: none;
    color: rgb(151, 151, 151);
}

.css-cursor:where(:hover, :focus) {
    text-decoration: underline;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
}

.css-step1-welcome {
    -webkit-text-stroke: 1px white;
    font-family: 'Gmarket Sans', sans-serif;
    transform: translateY(-60px);
    transition: 1s ease;
    margin-top: 15px;
    font-size: 70px;
}

.css-step1-subwelcome {
    -webkit-text-stroke: .5px white;
    font-weight: 600;
    transition: 1.3s ease;
    transform: translateY(-160px);
}

.css-step1-termsbox {
    font-size: 20px;
    transition: 2s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-1600px, -50%);
    border-radius: 10px;
    width: 500px;
    height: 600px;
    border: 1px solid #212121;
    background: rgb(236, 236, 236);
}

.css-step1-termsbox-wrap {
    position: relative;
    width: 100%;
    height: 580px;
}

.css-step1-terms-pinfo {
    margin-top: 15px;
    margin-left: 15px;
}

.css-accept-deny {
    user-select: none;
    font-size: 18px;
    margin-left: 15px;
}

.js-accept-terms {
    margin-left: 15px;
    font-size: 18px;
}

.js-next-step1 {
    transition: .5s ease;
    color: white;
    font-weight: 400;
    background: #0084ff;
    width: 80px;
    border-radius: 10px;
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.js-next-step1:disabled {
    opacity: 0.7;
}

.js-next-step1:where(:hover, :focus):not(:disabled) {
    transition: .5s ease;
    background: #006ace;
}

.css-step2-information {
    transition: 1.5s ease;
    width: 100%;
    height: 100%;
}

.css-step2-side {
    border: 1px solid;
    border-radius: 5px;
    width: 600px;
    height: 750px;
    background: rgba(255, 255, 255, 0.96);
    position: absolute;
}

.css-step2-leftside {
    transition: .5s ease;
    left: -100px;
}

.css-step2-rightside {
    transition: .8s ease;
    right: -100px;
}

.css-unknown-image {
    margin: 10px 10px;
    border: 1px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.css-step2-information-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.css-step2-information-input:focus {
    outline: none;
}

.css-step2-information-input-name {
    width: 85px;
    font-size: 30px;
}

.css-infotext {
    margin-left: 20px;
    font-size: 24px;
}